.Btn{
    width: 102%!important;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    transition: all .4s;
    padding: 5px 20px;
    
        
}
.Btn:hover{
    transform: translate(-1%, 5%);
    box-shadow: 0 0 10px #ff416d65;

}