<div class="container mt-4">
    <form id="userForm" #userForm="ngForm" (ngSubmit)="registerUser(userForm)">
        <p class="heading">Registro</p>
        <div class="box">
            <p>Usuario</p>
            <div>
                <input name="username" type="text" #UserUserame [(ngModel)]="newUser.surname" >
            </div>
        </div>
        <div class="box">
            <p>Nombre</p>
            <div>
                <input name="name" type="text" #UserName [(ngModel)]="newUser.username">
            </div>
        </div>
        <div class="box">
            <p>Puesto</p>
            <select name="puesto" #UserPuesto [(ngModel)]="newUser.role.id">
                <option value="0">-------</option>
                <option value="1">Mozo</option>
                <option value="2">Administrador</option>
                <option value="3">Cocinero</option>
            </select>
        </div>
        <div class="box">
            <p>Email</p>
            <div>
                <input name="email" type="email" #UserEmail [(ngModel)]="newUser.email">
            </div>
        </div>
        <div class="box">
            <p>Telefono</p>
            <div>
                <input name="phone" type="number" #UserPhone [(ngModel)]="newUser.phone">
            </div>
        </div>
        <div class="box">
            <p>Contraseña</p>
            <div>
                <input name="password" type="password" #UserPassword [(ngModel)]="newUser.password">
            </div>
        </div>
        <button class="loginBtn btn-danger">Registrar</button>
    </form>
</div>

